<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingtao.mapper.NoteMapper">
    <insert id="insert" parameterType="com.example.jingtao.entity.Note">
        insert into note
            (sender, accepter, message, time, look)
        values (#{sender}, #{accepter}, #{message}, #{time,jdbcType=TIMESTAMP}, #{look})
    </insert>
    <select id="getNotesBySender" resultType="com.example.jingtao.entity.Note">
        select *
        from note
        where sender = #{sender}
    </select>
    <select id="getNotesByAccepter" resultType="com.example.jingtao.entity.Note">
        select *
        from note
        where accepter = #{accepter}
    </select>
    <update id="hasLook" parameterType="com.example.jingtao.entity.Note">
        update note
        set look=1
        where sender = #{sender}
          and accepter = #{accepter}
          and message = #{message}
          and time =#{time,jdbcType=TIMESTAMP}

    </update>
</mapper>